*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url(bg1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}





.main{
    height: 100vh;
    /* background-color: black; */
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}






.card{
    height: 90%;
    width: 50%;
    background-color: rgba(96, 96, 96, 0.652);
    /* text-align: center; */
    border-radius: 15px;
    backdrop-filter: blur(15px);
}




.nav{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 35px;
}

.nav h1{
    color: white;
}
.links{
    display: flex;
    gap: 40px;
}
.links a{
    color: white;
    text-decoration: none;
}


.search{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* background-color: aqua; */
}

.search input{
    height: 45px;
    font-size: 15px;
    width: 250px;
    border: 0;
    padding: 5px 10px;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 30px;
}

.search button{
    height: 45px;
    width: 45px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    background-color: #ebfffc;
    cursor: pointer;
}

.search button img{
   
    width: 16px;
    
}



.weather{
    /* background-color: blue; */
    height: 30%;
    color: white;
    text-align: center;
}

.icon{
    height: 150px;
    width: 150px;
    
}
.temp{
    margin-top: 4px;
}

.city{
    margin-top: 5px;
}
.cond{
    margin-top: 5px;
}
.details{
    height: 30%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    
    justify-content: space-around;
}

.details img{
    margin-bottom: 20px;
}


.col{
    display: flex;
    text-align: left;
    /* background-color: red; */
    

}

.col img{
    margin-right: 10px ;
    width: 60px;
}

.humidity, .wind{
    font-size: 25px;
}



#songBox{
    height: 20%;
    width: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#weather-condition, #current-weather{
    display: none;
}

#song-link{
    color: white;
}


@media screen  and (max-width: 450px) {
    .main{
        /* background-color: red; */
        height: 100vh;
        width: 100%;
    }
    
    .card{
        width: 90%;
    }
    .nav h1{
        font-size: 20px;
    }

    .col p{
        font-size: 15px;
    }

    .col img{
        width: 40px;
    }
}